/* Base site styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    background: #ddd;
}

header {
    display: flex;
    height: 50px;
    background: #666;
    align-items: center;
}

header h1 {
    color: white;
    font-weight: normal;
    margin: 0 10px;
}

.main-content-container {
    display: flex;
    justify-content: center;
}
.main-content {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

/* 3 column Flex box layout styles */
.twitter-profile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.twitter-profile-item {
    flex-basis: calc(100% - 20px); /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-basis */
    margin: 10px;
    padding: 10px;
    border: 5px solid white;
    background: white;
    color: initial;
    text-decoration: none;
}

.twitter-profile-item:hover {
    border: 5px solid #00c3ef;
}

@media only screen and (min-width : 480px) {
    .tweets-not-displayed .twitter-profile-item {
        flex-basis: calc(50% - 20px); 
    }
}

@media only screen and (min-width : 768px) {
    .tweets-displayed .twitter-profile-item {
        flex-basis: calc(50% - 20px); 
    }
}

@media only screen and (min-width : 1024px) {
    .tweets-not-displayed .twitter-profile-item {
        flex-basis: calc(33.3% - 20px); 
    }
    .tweets-displayed .twitter-profile-item {
        flex-basis: calc(33.3% - 20px); 
    }
}

/* Tweet list layout */
.tweets-displayed .twitter-profile-grid {
    /* flex-basis: calc(66.6% - 20px); */
    flex: 2
}

.tweets-displayed .tweet-list {
    /* flex-basis: calc(33.3% - 20px); */
    flex: 1;
    height: calc(100vh - 90px);
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}

/* Twitter list styles */
.tweet-list {
    background: white;
    padding: 15px;
}

.tweet-list-item {
    margin-bottom: 20px;
}

.tweeter-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.tweet-list ul {
    list-style: none;
}

.tweet-list .twitter-profile-img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.tweet-list .twitter-name {
    font-size: 16px;
    padding: 0 5px;
}

.tweet-list .twitter-handle {
    padding: 0 5px;
    display: none;
}

@media only screen and (min-width : 768px) {
    .tweet-list .twitter-handle {
        display: block;
    }
}

.tweet-list .tweet-time {
    color: #657786;
}

.tweet-text {
    font-size: 14px;
}

/* Twitter profile block styles */
.twitter-profile-item img {
    width: 100%;
}

.twitter-name {
    color: #2E2828;
    font-size: 22px;
    font-weight: bold;
}

.twitter-profile-item .twitter-name {
    margin: 6px 0;
}

.twitter-handle {
    color: #657786;
}

.twitter-profile-item .twitter-handle {
    margin-bottom: 10px;
}

.twitter-bio {
    font-size: 14px;
}